<div class="container col-md-4" style="padding-top: 60px;">
    <div style="margin-left: 100px;">
    <div><h1><strong> Choose the application loan type:-</strong></h1></div><br>
    <a style="text-decoration: none;" routerLink="/approvedapplications"><h2><strong>- &nbsp; Approved Applications</strong></h2></a><br>
    <a style="text-decoration: none;" routerLink="/rejectedapplications"><h2><strong>- &nbsp; Rejected Applications</strong></h2></a><br>
    <a style="text-decoration: none;" routerLink="/requestedapplications"><h2><strong>- &nbsp; Requested Applications</strong></h2></a>
    </div>   
</div>