<div style="padding-left: 80px;">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="w-60" style="height: 200px; padding-left: 400px;" src="assets/contact-2794680_960_720.png" alt="First slide">
      </div>
    </div>
  </div>

  <div class="card-deck col-md-11" style="padding-left: 150px;">
  <div class="card" style="border: 0ch;">
    
    <div class="card-body">
      <h2 class="card-title" style="font-weight: bolder; color: rgb(63, 63, 146);">Report a Security Issue</h2>
      <p class="card-text"> Please report security vulnerabilities or cyber-security incidents related to loaneza.com to security@loaneza.com.
        Due to Coronavirus (COVID-19), there may be longer call wait times while we help other customers. You can also reach us at support@prosper.com. For immediate assistance, update your bank account, and more online 24/7.
  </p>
    </div>
</div>
    <div class="card" style="border: 0ch;">
        
        <div class="card-body">
          <h2 class="card-title" style="font-weight: bolder; color: rgb(63, 63, 146);">Call Us:</h2>
          <p class="card-text">Feel free to call our helpline number and let us know any issues you are facing. Our customer care service is open 24/7.</p>
          <h4 style="font-weight: bold;">1-(866) 615-6319</h4>
          <h4 style="font-weight: bold;">1-(866) 615-6320</h4>
        </div>
      </div>
      <div class="card" style="border: 0ch;">
        
        <div class="card-body">
          <h2 class="card-title" style="font-weight: bolder; color: rgb(63, 63, 146);">Mail Us:</h2>
          <h4 class="card-text">Feel free to mail us and let us know any issues you are facing. We will contact you within 48 hours.</h4>
          <h4 style="font-weight: bold;">loaneza.moneycare@gmail.com</h4>
          <h4 style="font-weight: bold;">mayank.moneycare@gmail.com</h4>
        </div>
      </div>
</div>
</div>


