 <div class="card mb-3 mt-5" style="border: 0ch; padding-right: 350px; padding-left: 350px;">
     <div class="card-header" style=" background-color: transparent;">
         <div class="container">
            <div class="row">
                <div class="col-sm" style="padding-left: 100px;">
                    <img class="card-img-top" style="height: 110px; width: 180px;" src="https://cdn.pixabay.com/photo/2016/04/25/12/06/man-1351761__340.png" alt="Card image cap">
                </div>
                <div class="col-sm">
                  <h1 style="font-size:50px; font-weight: bolder; color: rgb(63, 63, 146);">ABOUT</h1><br>
                  <h1 style="font-size:50px; font-weight: bolder; color: rgb(63, 63, 146);">&nbsp;US</h1>
                </div>
         </div>
     </div>
    <div class="card-body">
      <h3 class="card-text" style="font-weight: normal;">&nbsp; &nbsp; &nbsp; &nbsp;At Karnataka Bank, we understand that all customers are different in unique ways, which is why, 
        regardless of the size of your business or your aspirations, we treat every one as individual and special.
         This means offering you choices, not only in relation to our products and services but also in the way you interact with us.
         We understand the changes in your lifestyle, 
        recognize these changes and support you with a high standard of professionalism and service. <br><br>
        
        
         &nbsp; &nbsp; &nbsp; &nbsp;We believe in total quality at all levels. We have deployed the most modern information technology to deliver products & services for your benefit with an aim to develop an effective long-term relationship.
         But most of all, Technology is matched to your expectations of service, for today & for the future.
      </h3>
    </div>
  </div>
  </div>