<div class="alert alert-success"  *ngIf = 'falsemessage'>{{falsemessage}}</div>
<div class="alert alert-danger"  *ngIf = 'truemessage'>{{truemessage}}</div>
<div class="container card col-md-4 offset-md-4 mt-5" style="background-color:rgb(243, 237, 237);">
    <div class="card-header text-center font-weight-bold mt-4" style="background-color: rgb(129, 196, 129); color: rgb(89, 96, 104);">CHANGE PASSWORD</div>
    <form #changepasswordform='ngForm' (ngSubmit)='changepassword(changepasswordform)' >
        <input type="hidden" name="userid" id="userid" #userid='ngModel' [(ngModel)]='details.userid'>
        <input type="hidden" name="applyloans" id="applyloans" #applyloans='ngModel' [(ngModel)]='details.applyloans'>
        <input type="hidden" name="email" id="email" #email='ngModel' [(ngModel)]='details.email'>
        <input type="hidden" name="address" id="address" #address='ngModel' [(ngModel)]='details.address'>
        <input type="hidden" name="state" id="state" #state='ngModel' [(ngModel)]='details.state'>
        <input type="hidden" name="city" id="city" #city='ngModel' [(ngModel)]='details.city'>
        <input type="hidden" name="phone" id="phone" #phone='ngModel' [(ngModel)]='details.phone'>
        <input type="hidden" name="pincode" id="pincode" #pincode='ngModel' [(ngModel)]='details.pincode'>
        <input type="hidden" name="age" id="age" #age='ngModel' [(ngModel)]='details.age'>
        <input type="hidden" name="gender" id="gender" #gender='ngModel' [(ngModel)]='details.gender'>
        <input type="hidden" name="role" id="role" #role='ngModel' [(ngModel)]='details.role'>
        <input type="hidden" name="fullname" id="fullname" #fullname='ngModel' [(ngModel)]='details.fullname'>
        
          <div class="form-group mt-4">
            <label for="password">Enter new password: <i class="fa fa-key icon"></i></label>
            <div class="input-group mb-3">
              <input [type]="passwordType" #password='ngModel' pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$" ngModel name="password" id="password" class="form-control" 
              required placeholder="Enter password. Ex:- Qwerty@123">
              <div class="input-group-append">
                  <span class="input-group-text" (click)=showPassword()>
                      <i [class]="iconClass"></i>
                  </span>
              </div>
          </div>            
            <div *ngIf='password.invalid && password.touched'>
              <div class="alert alert-danger" *ngIf='password.errors.required'>
                <small class="font-italic font-weight-normal">This field is mandatory</small>
              </div>
              <div class="alert alert-danger" *ngIf='password.errors.pattern'>
                <small class="font-italic font-weight-normal">Please enter minimum eight characters, at least one uppercase letter, one lowercase letter, one number and one special character</small>
              </div>
            </div>
          </div>
          <div class="form-group mt-4">
            <label for="conpassword">Confirm Password: <i class="fa fa-key icon"></i></label>
            <div class="input-group mb-3">
              <input [type]="passwordType2" #conpassword='ngModel' pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$" ngModel name="conpassword" id="conpassword" class="form-control" 
              required placeholder="Confirm password.">
              <div class="input-group-append">
                  <span class="input-group-text" (click)=showPassword2()>
                      <i [class]="iconClass2"></i>
                  </span>
              </div>
          </div>   
            <div *ngIf='conpassword.invalid && conpassword.touched'>
              <div class="alert alert-danger" *ngIf='conpassword.errors.required'>
                <small class="font-italic font-weight-normal">This field is mandatory</small>
              </div>
              <div class="alert alert-danger" *ngIf='conpassword.errors.pattern'>
                <small class="font-italic font-weight-normal">Please enter minimum eight characters, at least one uppercase letter, one lowercase letter, one number and one special character</small>
              </div>
            </div>
          </div>

          <div *ngIf="password.touched && conpassword.touched">
            <div *ngIf="password.value !== conpassword.value">
              <div class="alert alert-danger">Password not matching!!!</div>
            </div>
        </div>
  
        <div class="text-center mt-4">
            <button [disabled]="changepasswordform.form.invalid || password.value !== conpassword.value" type="submit" class="btn font-weight-bold col-md-3 offset-md-4"  style="background-color:slategrey;">Update</button>
        </div>
        <div class="mt-4"></div>
        
      </form>
</div>
<div class="mt-4"></div>

